@import "../../../styles/colors";

.button {
  color: $primary-color;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  &.primary {
    background-color: $primary-button-color;
  }

  &.secondary {
    background-color: $secondary-button-color;
  }

  &.danger {
    background-color: $error-color;
  }
}