@import "../../../styles/colors";

.nav-dropdown-container {
  list-style-type: none;

  & .dropdown {
    display: flex;
    align-items: center;

    & .title,
    & .triangle {
      cursor: pointer;
    }

    & .triangle {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $primary-color;
      margin-left: 4px;
      display: inline-block;
    }
  }

  & .nav-items {
    margin-top: 1rem;
    position: absolute;
    display: block;
    list-style-type: none;
    padding-left: 0;
    z-index: 2;
    background-color: $primary-background-color;
    border: 1px solid $primary-color;
  }
}