$primary-color: #adbac7;
$primary-background-color: #22272e;

$control-background-color: #333333;

$primary-border-color: #444c56;

$primary-button-color: #255ab2;
$secondary-button-color: gray;

$hover-color: #525252;

$error-color: #ad2e2c;