@import "../../../styles/colors";

.table-container {
  border: 1px solid $primary-border-color;
  border-collapse: collapse;

  & tr:hover {
    background-color: $hover-color;
  }

  & th,
  & td {
    border: 1px solid $primary-border-color;
    padding: 8px;
  }

  & td.number {
    text-align: right;
  }
}