.form-control {
  color: #fff;
  background-color: hsl(0, 0%, 30%);
}
.form-control:focus {
  color: #fff;
  background-color: hsl(0, 0%, 30%);
}
input.form-control {
  border-color: hsl(0,0%,80%);
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
}